<header id="top-header">
    <div class="siteName"> <h1><a class="homelink" href="/" title="Return to home page">CSE Motors</a></h1></div>

    <div id="tools">
        <div class="accountLink"><a href="/clients/login">My Account</a></div>
    </div>
    
    
</header>