/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
.homelink{
  text-decoration: none;
  color: black;
  padding-left: 10px;
}
.errorPageImg{
  max-width: 100%;
  margin-top: 20px;
  border-radius: 30px;
}
.errorBox{
  position: relative;
  max-width: 363px;
  margin: 0 auto;
}
.messageCentered p {
  text-align: center;
}
.messageCentered{
  width: fit-content;
  margin: 0 auto;
}
th, td{
  border-bottom: 1px solid black;
}
.trClass{
  border-bottom: 1px solid black;
}
table{
  /* border-bottom: 1px solid black; */
  width: 100%;
  text-align: left;
  padding-left: 10px;
}
.editForms{
  display: flex;
  gap:40px;
  margin: 30px 0px 30px 0px;
}
.manageVehicles{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: baseline;
  /* border: solid 0.5px #e8e2e2; */
  border: 1px solid black;
  width: 95%;
  padding: 30px;
  margin: auto;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 10px;
  /* background: linear-gradient(110deg, #cae8f3 60%, #09bfe3 60%); */
  background: #e2f6fd;
}
.editAccount{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
  align-items: baseline;
  /* border: solid 0.5px #e8e2e2; */
  border: 1px solid black;
  width: 40%;
  padding: 30px;
  margin: auto;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 10px;
  /* background: linear-gradient(110deg, #cae8f3 60%, #09bfe3 60%); */
  background: #e2f6fd;
}
.manageVehicles a {
  text-decoration: none;
}
.manageVehicles p {
  text-align: left;
}
.manageVehicles h2{
  margin-bottom: 0px;
  margin-top: 0px;
}
.errorMessage{
  font-weight: bolder;
  position: absolute;
  color: black;
  font-family:Arial, Helvetica, sans-serif;
  font-size: clamp(30px, 3vw, 30px);
  right: 13%;
  top: 68%;
  -webkit-text-stroke: .5px white;
  max-width: 80%;
}
.errorTitle{
  position: absolute;
  /* color: white; */
  font-family:Arial, Helvetica, sans-serif;
  /* font-size: clamp(20px, 3vw, 50px); */
  font-size: 50px;
  right: 41%;
  top: 4%;
  -webkit-text-stroke: 1px white;
}
header{
  display: flex;
  justify-content: space-between;
}
.reviews ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: disc;
  font-size:small;
}
.upgrades h2{
  font-size: large;
}
.passwordRulesLogin{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 200px;
  margin: -5px auto 30px;
  padding-left: 20px;
}
.passwordRulesRegister{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 200px;
  margin: -5px auto 30px;
  padding-left: 10px;
}
.passwordRules{
  width: 335px;
  margin-left: 147px;
  margin-bottom: 30px;
  margin-top: -5px;
}
ul {
  list-style-type: none;
}
.showPassword input{
  cursor: pointer;
}
.login-box{
  border: solid .5px #e8e2e2;
  width: 250px;
  padding: 30px;
  margin: auto;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 10px;
  background: linear-gradient(110deg, #cae8f3 60%, #09bfe3 60%);
}
.register-box{
  border: solid .5px #e8e2e2;
  width: 60%;
  padding: 30px;
  margin: auto;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 10px;
  background: linear-gradient(110deg, #cae8f3 60%, #09bfe3 60%);
}
.register-box input[name="classificationName"]{
  margin-top:20px;
  margin-bottom: 20px;
}
.yourName {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 20px;
  align-items: baseline;
}
.yourName label[for=firstname]{
  padding-right: 27px;
}
.email-password {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  align-items: baseline;
}

.email-password input {
  width: 70%;
  /* width: 25em; */
}
.background form {
  max-width: 480px;
  margin: 0 auto;
}

input {
  border-radius: 5px;
  border: solid 1px #b4b0b0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 3px;
  margin-bottom: 10px;
  cursor: pointer;
}
/* input:required:invalid{
  border: solid 1px rgb(246, 173, 173);
}
input:required:valid{
  border: solid 1px rgb(219, 246, 173);
} */
select {
  border-radius: 5px;
  border: solid 1px #b4b0b0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 3px;
  margin-bottom: 10px;
  width: 99%;
}
textarea {
  border-radius: 5px;
  border: solid 1px #b4b0b0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 3px;
  margin-bottom: 10px;
  resize: none;
}

.notice{
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(246, 173, 173);
  color: rgb(192, 7, 7);
  border: solid 1px rgb(192, 7, 7);
  text-align: left;
  padding: 5px 5px;
  border-radius: 10px;
  list-style-position: inside;
  max-width: 480px;
  margin: 0 auto;
  margin-bottom: 2em;
}
.notice li {
  list-style-type:none;
}
.loginValid{
  margin-bottom: 1em;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(219, 246, 173);
  color: rgb(76, 117, 4);
  border: solid 1px rgb(98, 151, 5);
  text-align: left;
  padding: 5px 5px;
  list-style-type:disc;
  border-radius: 10px;
}

.accountLink a{
  padding-right: 2rem;
  text-decoration: none;
  color: black;
  margin: 0 auto;
}
.nav{
  display: flex;
  width: 100%;
  list-style: none;
  background-color: black;
  color: white;
  padding-top: 0.5rem;
  padding-bottom:0.5rem;
  justify-content: space-around;
  padding-right: 40px;
  margin: 0px;
  margin-bottom: 0px;
  gap:10px;
}
.copyright{
  padding-left: 20px;
}
.name-price h2 a {
  color:black;
}
.name-price{
  text-align: center;
  margin: 5px;
}
.description{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 0 10px;
}
.detailImg img {
  max-width: 100%;
}
.detailImg{
  /* width: 60%; */
  min-width: 290px
}
.detailDescription {
  width: 500px;
}
.detailDescription h2:nth-child(2){
  font-size: larger;
}
.accountLink{
  margin-top: 20%;
}
.detail {
  font-weight: bold;
}
.name-price h2{
  margin: 3px;
  font-size:large;
}
.name-price span{
  font-size: larger;
}
#inv-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  list-style: none;
  padding-right: 50px;
}
p{
  margin-bottom:0px ;
}
#inv-display li{
  width: 204px;
  border: solid 2px rgb(190, 188, 188); 
  border-radius: 10px;
}
hr{
border: solid 2px black;
}
.image-link img{
  border-radius: 8px;
  max-width: 200px;
}
li a{
  text-decoration: none;
  color: white;
}
.updates_reviews{
  display: flex;
  justify-content: space-around;
}
.images-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  padding-top: 15px;
  margin: 0 auto;
}
/* .ulContainer{
  padding-top: 15px;
} */
.reviews{
  width: 50%;
}
.delorean{
  position: relative;
  left: 8rem;
}
.transparent-box{
  background-color: rgba(255,255,255,0.7);
  color: rgb(13,183,217);
  width: 18%;
  height: 60%;
  position: absolute;
  top: 5rem;
  left:0px;
}
.reviews ul li{
  margin-top: 33px;
}
ul {
  margin-bottom:0px;
}
.image-container{
  display:flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.imgBackground{
  background-color: rgb(1,176,211);
  border: 1.5px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  height: 90px;
  width: 135px;
}
.imgContent{
  position: absolute;
  left: 26%;
}
.deloreanimg{
  width: 70%;
  height: 70%;
}
.t-img img{
  height: 90%;
  width: 90%;
}
.background{
  border-left: 5px solid rgb(1,176,211);
  border-right: 5px solid rgb(1,176,211);
  width: 85%;
  min-height: 500px;
  margin: 0 auto;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.buttons{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 40px;
}
.buttons button {
  height: 5em;
  width: 15em;
  /* background: linear-gradient(110deg, #f2f3ca 60%, #f2f209 60%); */
  background: #cae8f3;
  font-size: large;
  border-radius: 10px;
  box-shadow: 5px 10px 18px #888888;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  cursor: pointer;
}
#button2 {
  background: #09bfe3;
  cursor: pointer;
}
body{
  background-image: url("../images/site/checkerboard.jpg");
}
nav{
  border-left: 5px solid rgb(1,176,211);
  border-right: 5px solid rgb(1,176,211);
  width: 85%;
  margin: 0 auto;
  background-color: white;
}
header{
  border-top: 5px solid rgb(1,176,211);
  border-left: 5px solid rgb(1,176,211);
  border-right: 5px solid rgb(1,176,211);
  width: 85%;
  margin: 0 auto;
  background-color: white;
}
h1{
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
}
footer{
  border-bottom: 5px solid rgb(1,176,211);
  border-left: 5px solid rgb(1,176,211);
  border-right: 5px solid rgb(1,176,211);
  width: 85%;
  margin: 0 auto;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 430px) {
  body h1 {
    font-size:2em;
    font-weight: bold;
  }
  .editForms{
    flex-direction: column;
  }
  h2{
    font-size: 1.5em;
  }
  .editAccount{
    width: auto;
  }
  .passwordRules{
    width: 231px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: -20px;
  }
  .passwordRulesRegister{
    width: auto;
  }
  .yourName input{
    width: 231px;
  }
  .email-password{
    gap: 0px;
  }
  .register-box form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .register-box{
    width: 95%;
  }
  .yourName{
    gap: 0px;
    flex-direction: column;
  }
  .background{
    border-left: 5px solid rgb(1,176,211);
    border-right: 5px solid rgb(1,176,211);
    width: 85%;
    margin: 0px 7.5%;
    background-color: white;
  }
  nav{
    border-left: 5px solid rgb(1,176,211);
    border-right: 5px solid rgb(1,176,211);
    width: 85%;
    margin: 0 7.5%;
    background-color: white;
  }
  header{
    border-top: 5px solid rgb(1,176,211);
    border-left: 5px solid rgb(1,176,211);
    border-right: 5px solid rgb(1,176,211);
    width: 85%;
    margin: 0 7.5%;
    background-color: white;
  }
  footer{
    border-bottom: 5px solid rgb(1,176,211);
    border-left: 5px solid rgb(1,176,211);
    border-right: 5px solid rgb(1,176,211);
    width: 85%;
    margin: 0 7.5%;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .deloreanimg{
    display: block;
    margin: 0px 20px 0px 80px
  }
  .transparent-box{
    top:35%;
    /* right: 50px; */
    left: 60px;
    font-size: .7rem;
    width: 25%;
    height: 13%;
  }
  .transparent-box h2{
    font-size: small;
  }
  .transparent-box h3{
    font-size: smaller;
  }
  .delorean{
    position: static;
  }
  .updates_reviews{
    flex-direction: column-reverse;
  }
  .reviews{
    width: 100%;
    font-size: .7rem;
    padding-top: 20px;
  }
  .reviews h2 {
    padding-left:20px;
  }
}


