<div class="background">
    <div class="register-box">
        <% if (title) { %>
        <h1><%= title %></h1>
        <% } else { 
              res.redirect('/') 
        } %>

        <% if (message) { %>
        <p class="notice"><%= message %></p>
        <% } %>
        <br>
        
        <form action="/clients/register" method="post">
            <div class="yourName">
                <p>Your Name *</p>
                <label for="firstname"></label><br>
                <input type="text" id="firstname" name="client_firstname" placeholder="First name:" required>
                
                <label for="lastname"></label>
                <input type="text" id="lastname" name="client_lastname" placeholder="Last name:" required>
            </div>

            <div class="email-password">
                <p>Email address *</p>
                <label for="email"></label>
                <input type="email" id="email" name="client_email" placeholder="e.g. hello@contact.net" required>
            </div>
            <div class="email-password">
                <p>Password *</p>
                <label for="password"></label>
                <input type="password" id="password" name="client_password" placeholder="  ********  " required>
            </div>
            <div class="showPassword">
                <input type="checkbox" onclick="showPassword()">Show Password <br>
                <input type="submit" value="LOGIN" required>
            </div>
        </form> 
        <p>No account? <a href="/clients/registration">Sign-up</a></p>
    </div>
</div>